@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #161b2c;
    color: white;
    padding-top: 32px;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #1a2336;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.show-now {
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.1);
    border: 4px dashed white;
}

.container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 0px 100px
}


h1,
h2 {
    font-weight: 400;
}

input {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 160px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
}

input:hover {
    border: 1px slid rgba(255, 255, 255, 0.5);
}



button {
    background-color: #C2185B;
    color: white;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
    background-color: #d63475;
}

.card {
    background-color: #1a2336;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
